<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="_common/catalog/catalog-view-behavior.html">
<link rel="import" href="_common/catalog/catalog-map.html">

<script src="catalogmapviewwidget/requester.js"></script>
<script src="catalogmapviewwidget/notifier-listener.js"></script>

<dom-module id="catalog-map-view-widget">

    <template>
        <catalog-map mold="[[_view.mold]]"
                     page-size="[[_pageSize]]"
                     item-list="[[_itemList]]"
                     count-item-list="[[_countItemList]]"
                     center="[[_view.center]]"
                     zoom="[[_view.zoom]]"
                     on-location-change="_loadLocation"
                     on-page-change="_loadPage"
                     toolbar="[[_view.toolbar]]"
                     on-execute-operation="_executeOperation"
                     on-download-operation="_downloadOperation"></catalog-map>
    </template>

    <style>
    </style>

    <script>

        const CatalogMapViewWidgetDictionary = {
            es: {
            },
            en: {
            }
        };

        Polymer({
            is: 'catalog-map-view-widget',

            behaviors: [ CottonBehaviors.CarrierBehavior,
                         CottonBehaviors.PushBehavior,
                         CottonBehaviors.TranslatorBehavior,
                         SumusBehaviors.CatalogViewBehavior,
                         CatalogMapViewWidgetBehaviors.Requester,
                         CatalogMapViewWidgetBehaviors.NotifierListener ],

            properties : {
                _view: Object,
                _itemList: Array,
                _countItemList: Number
            },

            attached : function() {
                this.translate(CatalogMapViewWidgetDictionary);
                this.translate(SumusBehaviors.CatalogViewBehavior.Dictionary);
                this.listenToDisplay();
            },

            _refreshView : function(view) {
                this._view = view;
            },

            _clear : function() {
                this.querySelector("catalog-map").clear();
            },

            _refresh : function(items) {
                this._itemList = items;
            },

            _refreshPageSize : function(size) {
                this._pageSize = size;
            },

            _refreshItem : function(item) {
                this.querySelector("catalog-map").refreshItem(item);
            },

            _refreshCount : function(count) {
                this._countItemList = count;
            },

            _refreshSelection : function(selection) {
            },

            _loadLocation : function(event) {
                this.location(event.detail);
            },

            _loadPage : function(event) {
                this.page(event.detail.page);
            },

            _executeOperation : function(e) {
                this.executeOperation(e.detail);
            },

            _downloadOperation : function(e) {
                this.downloadOperation(e.detail);
            }

        });
    </script>
</dom-module>