<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/cotton-push/cotton-push-behavior.html">
<link rel="import" href="../../lib/cotton-carrier/cotton-carrier-behavior.html">
<link rel="import" href="../../lib/cotton-zombie/cotton-zombie.html">
<link rel="import" href="../../lib/cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="_common/catalog/catalog-view-behavior.html">
<link rel="import" href="record-widget.html">

<script src="catalogmagazineviewwidget/requester.js"></script>
<script src="catalogmagazineviewwidget/notifier-listener.js"></script>

<dom-module id="catalog-magazine-view-widget">

    <template>
        <cotton-zombie display="RecordDisplay" widget="RecordWidget"></cotton-zombie>
    </template>

    <style>
    </style>

    <script>

        const CatalogMagazineViewWidgetDictionary = {
            es: {
            },
            en: {
            }
        };

        Polymer({
            is: 'catalog-magazine-view-widget',

            behaviors: [ CottonBehaviors.CarrierBehavior,
                         CottonBehaviors.PushBehavior,
                         CottonBehaviors.TranslatorBehavior,
                         SumusBehaviors.CatalogViewBehavior,
                         CatalogMagazineViewWidgetBehaviors.Requester,
                         CatalogMagazineViewWidgetBehaviors.NotifierListener ],

            attached : function() {
                this.translate(CatalogMagazineViewWidgetDictionary);
                this.translate(SumusBehaviors.CatalogViewBehavior.Dictionary);
                this.listenToDisplay();
            }

        });
    </script>
</dom-module>