gen
test-gen
out
plugin/teseo/teseo.zip
plugin/plugin/target/
.idea/libraries
.idea/dictionaries
test-res/*.stash
target/
workspace.xml
/ide/konos-plugin/dependency-reduced-pom.xml
slack/target
workspace.xml
dependency-reduced-pom.xml
