gen
test-gen
out
.idea/libraries
.idea/dictionaries
test-res/*.stash
target/
workspace.xml
dependency-reduced-pom.xml
.idea/compiler.xml
alexandria/activity-elements-activity/gulpFile.js
alexandria/activity-elements-activity/package.json
gulpFile.js
ide/builder/src-old
alexandria/ui-elements-old
alexandria/ui-elements/node_modules
framework/ui-elements/node_modules/core-js-compat/node_modules
framework/ui-elements/node_modules
