gen
test-gen
out
.idea/libraries
.idea/dictionaries
test-res/*.stash
target/
workspace.xml
dependency-reduced-pom.xml
.idea/compiler.xml
alexandria/activity-elements-activity/gulpFile.js
alexandria/activity-elements-activity/package.json
gulpFile.js
alexandria/ui-elements-old
alexandria/ui-elements-new
alexandria/ui-elements/node_modules
framework/ui-elements/node_modules
.tara/misc
kotlinc.xml
toolbox/test/test-res
libraries/ness/datalake/temp
libraries/ness/ingestion/temp
ConfigurationTest.stash
framework/ui-elements/lib
.intino/artifacts
.intino
