<script>
    'use strict';

    var AlexandriaBehaviors = AlexandriaBehaviors || {};

    AlexandriaBehaviors.LayoutBehavior = {

        Dictionary : {
            es: {
                NoItemsMessage: 'no se ha definido ningún elemento'
            },
            en: {
                NoItemsMessage: 'no elements defined'
            }
        },

        _layoutLoadedTimer: null,

        properties : {
            _itemList: { type: Array, observer: '_itemsLoaded' },
            _itemTabList: Array,
            _selectedItem: { type: Number, notify: true, observer: '_selectItemByLabel' },
            _title : String,
            _subtitle : String,
            _logo : String,
            _authServiceUrl : String
        },

        _loading : function() {
            this.$.layout.loading = true;
            if (this._layoutLoadedTimer != null) window.clearTimeout(this._loadedTimer);
        },

        _loaded : function() {
            this._layoutLoadedTimer = window.setTimeout(() => this.$.layout.loading = false, 800);
        },

        _refreshItemList : function(itemList) {
            const countItems = itemList.length;
            itemList.forEach((item) => item.type = this._itemProperty(item, "type").value);
            this._itemList = itemList;
            this._itemTabList = countItems > 0 ? this._arrayOf(itemList) : ['noItems'];
            this._selectedItem = 0;
        },

        _itemProperty : function(item, property) {
            let properties = item.referencePropertyList;
            for (var i=0; i<properties.length; i++) {
                if (properties[i].name == property)
                    return properties[i];
            }
            return null;
        },

        _selectItemByLabel : function(label) {
        },

        _selectItem : function(event) {
            if (this._itemList == null) return;

            var index = this._indexOf(event.detail);
            if (index == this._selectedItem) return;
            if (event.detail == "noItems") return;

            this._selectedItem = index;
            window.setTimeout(() => this.selectItem(event.detail), 100);
        },

        _refreshSelected : function(selected) {
            this._selectedItem = this._indexOf(selected);
        },

        _indexOf : function(label) {
            var index = -1;
            for(var i=0; i<this._itemList.length; i++) {
                var item = this._itemList[i];
                if (item.label === label)
                    index = i;
            }
            return index;
        },

        _arrayOf : function(itemList) {
            var result = [];
            for(var i=0; i<itemList.length; i++)
                result.push(itemList[i].label);
            return result;
        },

        _info : function(info) {
            this._title = info.title;
            this._subtitle = info.subtitle;
            this._logo = info.logo;
            this._authServiceUrl = info.authServiceUrl;
        },

        _user : function(user) {
            this.$.layout.user = user;
        },

        _logout: function () {
            this.logout();
        },

        _editProfile: function () {
            if (this._authServiceUrl == null || this._authServiceUrl === "") return;
            window.open(this._authServiceUrl, '_blank');
        },

        _userLoggedOut : function(homeUrl) {
            window.location.href = homeUrl;
        }

    };

</script>