.image-gallery {
    border: 1px solid #ddd;
}

.image-gallery-play-button, .image-gallery-fullscreen-button {
    padding: 0 10px;
}

.image-gallery, .image-gallery-slide-wrapper {
    min-height: 200px;
}

.image-gallery-svg {
    height: 55px !important;
}
