.react-grid-Cell, .react-grid-HeaderCell {
    border-right: 0;
}

.react-grid-Toolbar {
    height: 32px;
    border-style: solid solid solid;
    padding: 5px 10px;
    border: 0;
}

.pull-right {
    float: right;
}

.react-grid-Container, .react-grid-Grid {
    height: 100%;
    border: 0;
}

.react-grid-Main {
    height: calc(100% - 40px);
    outline: 0;
}

.rdg-selected {
    display: none !important;
}

.react-grid-Cell--frozen, .react-grid-Cell--frozen:focus {
    z-index: 0;
}
