.alexandria-grid.dark .react-grid-Canvas {
    background: #1f1f1f;
}

.alexandria-grid.dark .react-grid-Cell {
    background: #1f1f1f;
}

.alexandria-grid.dark .react-grid-HeaderCell, .alexandria-grid.dark .react-grid-Header {
    background: #111;
}

.react-grid-Cell, .react-grid-HeaderCell {
    border-right: 0;
}

.react-grid-Cell {
    cursor: pointer;
}

.alexandria-grid.dark .react-grid-Toolbar {
    background: transparent;
}

.react-grid-Toolbar {
    height: 40px;
    border-style: solid solid solid;
    padding: 2px 10px;
    border: 0;
}

.pull-right {
    float: right;
}

.alexandria-grid.dark .react-grid-Grid, .alexandria-grid.dark .react-grid-Main {
    background: #1f1f1f;
}

.react-grid-Container, .react-grid-Grid {
    height: 100%;
    border: 0;
}

.react-grid-Main {
    height: calc(100% - 41px);
    outline: 0;
}

.rdg-selected {
    display: none !important;
}

.react-grid-Cell--frozen, .react-grid-Cell--frozen:focus {
    z-index: 0;
}