.hidden {
    display: none !important;
}

@media screen and (min-width: 800px), all and (min-width: 800px) and (orientation: portrait) {
    .hidden-ifnotmobile {
        display: none !important;
    }
}

@media screen and (max-width: 736px), all and (min-width: 736px) and (orientation: portrait) {
    .hidden-ifmobile {
        display: none !important;
    }
}