<link rel="import" href="../../../polymer/polymer.html">
<link rel="import" href="../../../cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../../../paper-dialog/paper-dialog.html">

<dom-module id="catalog-cluster-dialog">

    <template>
        <paper-dialog id="dialog">
            <h2>[[CreateGroup]]</h2>
            <div class="layout vertical content">
                <paper-input id="title" validation="[a-zA-Z0-9]+" placeholder="[[ClusterGroup]]" no-label-float value="{{_clusterGroup}}" on-keyup="_checkEnter"></paper-input>
            </div>
            <div class="buttons">
                <paper-button dialog-dismiss>[[Cancel]]</paper-button>
                <paper-button dialog-confirm autofocus on-tap="_createClusterGroup" disabled$="[[!_clusterGroup.length]]">[[Accept]]</paper-button>
            </div>
        </paper-dialog>
    </template>

    <style>
        paper-dialog {
            min-width: 300px;
            min-height: 150px;
            margin: 10px 0 0 78px;
            background: white;
            overflow: auto;
        }

        .content {
            margin: 0;
        }

        paper-input {
            display: inline-block;
            margin: 0;
        }

        paper-button {
            margin: 0 4px;
            min-width: 80px;
            height: 34px;
        }
    </style>

    <script>
        const CatalogClusterDialogDictionary = {
            es: {
                CreateGroup: "crear grupo",
                NewClusterLabel: "definidos por usuario",
                ClusterGroup: "título del grupo",
                Accept: "aceptar",
                Cancel: "cancelar"
            },
            en: {
                CreateGroup: "create group",
                NewClusterLabel: "user defined",
                ClusterGroup: "group title",
                Accept: "accept",
                Cancel: "cancel"
            }
        };

        Polymer({
            is: 'catalog-cluster-dialog',

            properties: {
                entities : Array,
                _clusterGroup : { type: String, value : function() { return ""; } }
            },

            behaviors: [ CottonBehaviors.TranslatorBehavior ],

            attached: function () {
                this.translate(CatalogClusterDialogDictionary);
            },

            open : function() {
                this.$.dialog.open();
                this.$.title.value = "";
                window.setTimeout(() => this.$.title.$.input.focus(), 100);
            },

            close : function() {
                this.$.dialog.close();
            },

            _createClusterGroup : function() {
                if (this._clusterGroup === "") return;
                this.fire('create-cluster-group', { cluster: this.NewClusterLabel, name: this._clusterGroup, entities: this.entities.map(entity => entity.name) });
            },

            _checkEnter : function(e) {
                if (e.keyCode !== 13) return;
                this._createClusterGroup();
                this.close();
            }

        });
    </script>

</dom-module>
