<link rel="import" href="../../../../lib/polymer/polymer.html">

<dom-module id="group-chart">

    <template>
        <div id="chart"><span>[[group.count]]</span></div>
    </template>

    <style>
        :host {
            height: 100%;
            width: 100%;
            @apply(--layout-vertical);
            @apply(--layout-center-justified);
        }
        :host #chart {
            height: 15px;
            padding-right: 4px;
        }
        :host #chart span {
            width: 100%;
            text-align: right;
            display: none;
            color: white;
            font-size: 9pt;
        }
        :host #chart:hover span {
            display: block;
        }
    </style>

    <script>
        const GroupChartSpanPadding = 4;

        Polymer({
            is: 'group-chart',

            properties: {
                group: { type: Object, observer: '_refreshChart' },
                percentage : { type: Boolean, value: function() { return true; } },
                count: { type: Number, observer: '_refreshChart' },
                color: { type: String, observer: '_refreshColor' }
            },

            _refreshChart: function () {
                if (this.group == null) return;
                let size = this.count > 0 ? this.group.count*100/this.count : 0;
                this.$.chart.style.marginLeft = (size > GroupChartSpanPadding ? 100-size-GroupChartSpanPadding : 93) + "%";
                this.$.chart.style.width = (size > GroupChartSpanPadding ? size-GroupChartSpanPadding : 0) + "%";
            },

            _refreshColor : function() {
                this.$.chart.style.backgroundColor = this.color;
            }

        });
    </script>

</dom-module>
